*******************************************************
Бобро поржаловать в хостнейм {{ inventory_hostname }}!
Мой ip адрес: {{ ansible_host }}

ыыы {{ ansible_processor }}

{{ ansible_processor_vcpus }}

{{ ansible_memtotal_mb }}

{{ ansible_devices['sda'].size }} bytes

{{ ansible_default_ipv4.address }}

Доброй ночи красноглазый админ
*******************************************************
